<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>951977835601-capeie7j414kb48ok9tadagbnsif36g7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.951977835601-capeie7j414kb48ok9tadagbnsif36g7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>951977835601-g12d8j41olnpbo7lnj55qj3p3djikgh0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDn_4D8Nob8vkBrWobLzRMU1NhK3ct7bpE</string>
	<key>GCM_SENDER_ID</key>
	<string>951977835601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.emailPasswordLogin</string>
	<key>PROJECT_ID</key>
	<string>emailpassword-5369c</string>
	<key>STORAGE_BUCKET</key>
	<string>emailpassword-5369c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951977835601:ios:e60ce3a0a8b52d7276cc70</string>
</dict>
</plist>